
body{
    background-color: black;
    color: white;
}
.n{
    display: flex;
    font-family: 'Courgette', cursive;
    

}
header::before{
            background: url('https://t4.ftcdn.net/jpg/03/06/29/63/360_F_306296328_TfE1eESaV7PskyUDqQMUcrciUgzcvKbF.jpg')  ;
            /* background-repeat: no-repeat; */
  /* background-size: cover; */
            
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0.5;
}

            
li{
    list-style: none;
    padding: 34px 23px;
    color:white;
    
}
section{
    display: flex;
    margin: 10px 23px;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    height: 379px;
    padding:15px 15px;
    
}
input{
           display:block;
           margin: 10px;
 }
label{
           display:block;
           margin: 10px;
 }
h1{
    font-size: 8rem;
}
.c{
            margin: auto;
            width: 200px;
            display: block;

        }
  